/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
WebIna-Api.zip
public/images/admins/avatar/1700054958.png
public/images/admins/avatar/1700222238.png
public/images/admins/home/edit/video/1700222315.png
public/images/admins/home/edit/video/1700222316.png
public/images/admins/home/edit/video/1700222402.mp4
public/images/admins/home/edit/video/1700222447.mp4
public/images/admins/home/projects/images/1700222315.png
public/images/admins/home/testimonials/images/1700222337.png
public/images/admins/home/testimonials/images/1700222339.png
public/images/admins/home/testimonials/images/1700222340.png
